.DS_Store
__pycache__/
/src/fighter_data_https
/src/__pycache__/
/src/backup/
/src/test/
/tmp_data_ignored
/ufc_data_scraper/fight_history
/ufc_data_scraper/fighter_data_https
/tmp_data_ignored ufc_data_scraper
/env
Kriegernathan1.egg-info
/UFC_Data_Scraper/MISC
build
dist
/UFC_Data_Scraper/fight_history
/UFC_Data_Scraper/fighter_data_https
/UFC_Data_Scraper/pickles
/UFC_Data_Scraper/jsons


