.DS_Store
__pycache__/
/src/fighter_data_https
/src/__pycache__/
/src/backup/
/src/test/
/tmp_data_ignored
/ufc_data_scraper/fight_history
/ufc_data_scraper/fighter_data_https
/tmp_data_ignored ufc_data_scraper
/env
